<div class="row">
  <div class="col-sm text-center">
    Contact Us
    <br />
    (423)555-5555
    <br />
    bowmanharrison@sample.com
    <br />
    123 Main Street
    <br />
    Johnson City, TN, 37601
  </div>
  <div class="col-sm text-center">
    Services
    <br />
    <a asp-controller="Services" asp-action="Buying">Buying</a>
    <br />
    <a asp-controller="Services" asp-action="Selling">Selling</a>
    <br />
    <a asp-controller="Services" asp-action="Staging">Staging</a>
  </div>
  <div class="col-sm text-center">
    Guides
    <br />
    <a asp-controller="Guides" asp-action="Buyer">Buyers </a>
    <br />
    <a asp-controller="Guides" asp-action="Seller">Sellers</a>
    <br />
    <a asp-controller="Guides" asp-action="Staging">Staging</a>
    <br />
    <a asp-controller="Guides" asp-action="Terminology">Terminology</a>
  </div>
  <div class="col-sm text-center">
    <a asp-controller="Team" asp-action="MeetTheTeam">Meet the Team </a>
    <br />
    <a asp-controller="#" asp-action="#">About our Region </a>
    <br />
    <a asp-controller="Team" asp-action="ContactUs">Contact Us </a>
  </div>
  <div class="col-sm text-center">
    Info about Crye-Leike
    <br />
    Phone Number
    <br />
    Address?
  </div>
</div>

<br />
<div class="text-center">
  <a href="https://www.facebook.com/davidjamietamirealtors/"><i class="fab fa-facebook-square fa-2x" style="color:#4267B2;"></i></a>
  <i class="fab fa-twitter-square fa-2x" style="color:#1da1f2;"></i>
  <i class="fab fa-instagram fa-2x" style="color:black;"></i>
  <i class="fab fa-pinterest-square fa-2x" style="color:#E60023;"></i>
  <i class="fab fa-linkedin fa-2x" style="color:#0073b1;"></i>
</div>
<br />
<div class="text-center">
  &copy; 2019 - BHR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
