<li class="nav-item">
  <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Buying">Buying</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Selling">Selling</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Staging">Staging</a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Guides</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" asp-controller="Guides" asp-action="Buyer">Buyer's Guide</a>
    <a class="dropdown-item" asp-controller="Guides" asp-action="Seller">Seller's Guide</a>
    <a class="dropdown-item" asp-controller="Guides" asp-action="Staging">Staging Guide</a>
    <a class="dropdown-item" asp-controller="Guides" asp-action="Terminology">Terminology Guide</a>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Buying">About our Region</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="MeetTheTeam">Meet the Team</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="ContactUs">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
</li>